{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <p>Hello and welcome to my Blog Page. My name is Tridib, and I am an IT Analyst here at the company</p>

<p>I have a strong background in Cloud,Powershell, Python. I have experience working on projects in industry based projects, and have a proven track record of success in delivering high-quality solutions for our clients.</p>

<p>In my current role, I am responsible for analyzing business requirements and designing technical solutions to meet those needs. I work closely with our clients to understand their specific needs and tailor our services to best support their goals.</p>

<p>I am also highly skilled in SNOW and analytical tools, and am able to effectively lead teams and collaborate with cross-functional teams to drive projects forward.</p>

<p>I am excited to be a part of the TCS team, and am dedicated to helping our clients achieve success through the use of cutting-edge technology.</P>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}